@{
  Layout = "_Layout";
}


<h1>Add a new Venue</h1>
<form action="/create-venue" method="post">
  <label for="venue-name">Name of Venue:</label>
  <input id="venue-name" name="venue-name" type="text">
  <button class="btn btn-primary" type="submit">Add New Venue</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/index">View all Venues</a></p>
